<!-- Page Header Start-->
<div class="page-header">
  <div class="header-wrapper row m-0">
   <a href="/dashboard?layout=london">
    <img style="width: 100px; height: 100px;" src="{{ url_for('static', filename='assets/images/favicon.png') }}" alt="">
    <span style="font-size: 20px; font-weight: bold;">KrishiLoop</span>
    </a>
    <div
    style="margin-bottom: 10px;"
      class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto"
    >
      <ul class="nav-menus">
        <li>
          <a href="/dashboard?layout=london" class="nav-link">
            <svg class="stroke-icon">
              <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-home"></use>
            </svg>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/workspace?layout=london" class="nav-link">
            <svg class="stroke-icon">
              <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-starter-kit"></use>
            </svg>
            <span>Workspace</span>
          </a>
        </li>
        <li>
          <a href="/batch?layout=london" class="nav-link">
            <svg class="stroke-icon">
              <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-orders"></use>
            </svg>
            <span>Batch Manager</span>
          </a>
        </li>
        <li class="fullscreen-body">
          <span>
            <svg id="maximize-screen">
              <use
                href="{{ url_for('static', filename= 'assets/svg/icon-sprite.svg' )}}#full-screen"
              ></use></svg
          ></span>
        </li>
        
      
        <li>
          <div class="mode">
            <svg>
              <use
                href="{{ url_for('static', filename= 'assets/svg/icon-sprite.svg' )}}#moon"
              ></use>
            </svg>
          </div>
        </li>
       
       
       
      </ul>
    </div>
    <script class="result-template" type="text/x-handlebars-template">
      <div class="ProfileCard u-cf">
        <div class="ProfileCard-avatar"><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-airplay m-0"
          ><path
              d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"
            ></path><polygon
              points="12 15 17 21 7 21 12 15"
            ></polygon></svg></div>
        <div class="ProfileCard-details">
          <div class="ProfileCard-realName">{{name}}</div>
        </div>
      </div>
    </script>
    <script class="empty-template" type="text/x-handlebars-template">
      <div class="EmptyMessage">Your search turned up 0 results. This most
        likely means the backend is down, yikes!</div>
    </script>
  </div>
</div>
<!-- Page Header Ends -->
<style>
  .page-wrapper.only-body .page-header .header-wrapper .nav-right {
    top: 40px !important;
  }
</style>